<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h2>Feedbacks</h2>

    <ul>
      <% feedbacks.forEach(function(feedback) { %>
        <li>
          <strong><%= feedback.email %></strong>
            <%= feedback.description %>,
            <%= feedback.like %>
        </li>
      <% }); %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>